.unit.demo {
    display: grid;
    gap: var(--length-gap);
    grid-template-columns: 1fr 1fr;
}

.unit.demo>div {
    display: grid;
    gap: var(--length-gap);
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

.unit.demo>div::before {
    display: block;
    margin: var(--length-space);
    text-align: center;
}

.unit.demo>div:first-child::before {
    content: "Source";
}

.unit.demo>div:last-child::before {
    content: "Result";
}

.unit.demo>div:first-child>textarea {
    font-family: var(--font-mono);
    font-size: var(--length-font-log);
    margin: var(--length-gap) 0;
    padding: var(--length-padding);
}