.unit.demo {
    display: grid;
    gap: var(--length-gap);
    grid-template-columns: 1fr 1fr;
}

.unit.demo>div::before {
    display: block;
    margin: var(--length-gap) 0;
    text-align: center;
}

.unit.demo>div:first-child::before {
    content: "Source";
}

.unit.demo>div:last-child::before {
    content: "Result";
}

.unit.demo>div:first-child {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

.unit.demo>div:first-child>textarea {
    font-size: var(--length-font-log);
    height: auto;
    margin: var(--length-gap) 0;
    padding: var(--length-padding);
}